
#api-section,
#starlink-map-section {
  margin-top: 50px;
}


#api-data-container {
  background-color: #024873; /* Background color */
  border: 1px solid #ddd; /* Border */
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Padding inside the container */
  margin-top: 20px; /* Margin from the top */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  
}
